body {
    background: rgb(0,115,120);
    background: linear-gradient(90deg, rgba(0,115,120,1) 0%, rgba(0,204,212,1) 43%, rgba(0,181,188,1) 61%, rgba(0,115,120,1) 100%);
}

h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.2em;
    font-size: 5em;
}
